#post {
    position: absolute;
    width: 99%;
    padding: 1.5rem 1.5rem 0 17rem;
}

/* input text */


.box_container_product {
    width: 100%;
    margin-right: 1rem;
    padding: 0.5rem;
    flex-direction: column;
    box-shadow: 0 2px 6px 0 rgba(67, 89, 113, 0.15);
    border-radius: 10px;
}

.box_text h2 {
    padding: 20px 0;
}

#post .edit-product-form {
    margin-right: 1rem;
    display: flex;
}

#post .edit-product-form .input-box {
    width: 80%;
    display: grid;
    gap: 3rem;
    padding: 0 2rem;
}
/* Hidden product ID */
#post .edit-product-form .input-box .id {
    display: none;
}

#post .edit-product-form .input-box .popular {
    display: flex;
    text-align: left;
    justify-content: space-evenly;
}
#post .edit-product-form .input-box .popular label {
    font-size: 1.3rem;
    margin-left: -3rem;
}
#post .edit-product-form .input-box .popular input {
    margin-left: -15rem;
}

#post .edit-product-form .input-box .box:last-child {
    display: grid;
}

#post .edit-product-form .input-box .box textarea {
    resize: none;
    overflow: auto;
    margin-top: 0.5rem;
    padding: 1rem 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#post .edit-product-form .input-box .box textarea:focus {
    outline: none;
}

#post .edit-product-form .input-box .box input {
    border: 1px solid #ccc;
    margin-top: 0.4rem;
    padding: 0.2rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
}

/* input image */
#post .edit-product-form .input-img {
    width: 800px;
    margin-top: 2rem;
}

.box_description{
    padding: 15px 0 ;
}

.image {
    width: 100%;
    display: grid;
    height: 25vh;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    overflow: hidden;
    color: #fff;
}

#post .edit-product-form .input-img .image label p {
    display: grid;
    background-color: #ff7446;
    border-radius: 4px;
    width: fit-content;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: auto;
}

#post .edit-product-form .input-img .image img {
    width: 100%;
    height: 30vh;
    cursor: pointer;
    object-fit: contain;
}

#post .edit-product-form .input-img .image #img {
    display: none;
}

/* Gallery */
#post .edit-product-form .input-img .gallery {
    margin-top: 1rem;
    color: #444;
}

#post .edit-product-form .input-img .gallery .gallery-box {
    width: 100%;
    margin-top: 1rem;
    height: auto;
    padding: 50px 0;
    border: 1px solid #ccc;
    resize: vertical;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    align-items: center;
    overflow: hidden;
}

#post .edit-product-form .input-img .gallery .gallery-box img {
    width: 100%;
    height: 20vh;
    cursor: pointer;
    object-fit: cover;
}

#post .edit-product-form .input-img .gallery button {
    background-color: #FA442C;
    border: none;
    padding: 0.2rem 0.3rem;
    border-radius: 4px;
    color: #fff;
}

/* Add gallery button */
#post .edit-product-form .input-img .gallery .gallery-box .add-gallery {
    background-color: #ff7446;
    border-radius: 4px;
    text-align: center;
    padding: 0.7rem 10px;
    margin: 20px 0 20px 12rem;
    cursor: pointer;
    position: absolute;
    
}

#post .edit-product-form .input-img .gallery .gallery-box .add-more {
    color: #3498DB;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #ccc;
    padding: 0.3rem 0.7rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

#post .edit-product-form .input-img .gallery #gallery {
    display: none;
}

.box_color_product {
    width: 100;
}

.box_size_product {
    margin-top: 8rem;
}

.color_box {
    width: 100%;
    height: 165px;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px 20px 20px 20px;
}

.box_choose_color {
    width: 70px;
    height: 28px;
    display: flex;
    gap: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.choose_color {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    margin-left: 0.2rem;
}

.choose {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.size_box {
    width: 100%;
    height: 165px;
    display: flex;
    gap: 1.5rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
}

.box_size_color {
    width: 60px;
    height: 28px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.color_choose {
    display: flex;
    gap: 1rem;
}

.choose_size {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-left: 0.2rem;
    justify-content: center;
}

/* Search add color */

.search_color {
    padding: 3px 8px;
    margin-top: 4rem;
    display: flex;
    border-radius: 5px;
    border: 1px solid #ccc;
    align-items: center;
    justify-content: space-between;
}

.icon_add {
    padding: 4px 8px;
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    align-items: center;
    background-color: #3498DB;
    border-radius: 3px;
    color: #fff;
}

/* Submit button */
#post .edit-product-form .submit1 {
    margin-top: -1.5rem;
    position: absolute;
    font-size: 18px;
    right: 7rem;
}

#post .edit-product-form .submit1 button {
    background-color: #ff7446;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem 1.8rem;
    cursor: pointer;
    border: none;
}



/*============ Color ==========*/
.colorBox_chContainer {
    border: 1px solid #ccc;
    width: 100%;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.addcolor_container {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.Card_boxColor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #3498DB;
    gap: 10px;
    color: #000;
    border-radius: 7px;
    padding: 0 10px;
    font-size: 17px;
    cursor: pointer;
}

.spanCancelBox{
    font-size: 25px;
    font-weight: 500;
}
.addcolorContent {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
}
.inputBoxaddcolor{
    border: 1px solid #ccc;
    padding: 10px;
}
.btn_addcolorbox {
    background-color: #3498DB;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
    margin: 1rem 0;
    cursor: pointer;
}

