.category_container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5rem 0 2rem 0;
    gap: 4rem;
}

.category_container2 .box-category button {
    border: none;
    background: none;
    cursor: pointer;
}

.box-category {
    background-color: #FFF;
    width: 10%;
    padding: 10px 0;
    border-radius: 7px;
    border: 1px solid #DDDCE1;
}

.box-category img {
    width: 50%;
}

@media screen and (min-width: 1537px) and (max-width: 1950px) {
    .category_container2 {
        margin: 5rem 0 3rem 0;
    }

    .box-category button {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .box-category {
        width: 8%;
        height: 14vh;
        padding: 10px 0;
    }

    .box-category img {
        width: 45%;
    }
}

@media screen and (max-width: 1025px) {
    .box-category {
        width: 13%;
    }
}

@media (max-width: 820px) {
    .category_container2 {
        gap: 3rem;
        width: 100%;
        margin: 4rem 0 2rem 0;
        padding: 10px;
        justify-content: center;
    }

    .box-category {
        width: 17%;
        height: auto;
    }

    .box-category img {
        width: 40%;
    }
}

@media screen and (max-width: 431px) {
    .box-category {
        width: 10%;
    }

    .box-category {
        width: 30%;
        height: auto;
        overflow: hidden;
        padding: 5px;
    }

    .box-category img {
        width: 50%;
    }
}