.group_lisblecackk2 {
    width: 60%;
    margin: 0 auto 4rem auto;
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0  0 6px rgba(0, 0, 0, 0.08);
}

.header_boxBack{
    margin-top: 6rem;
}