.contactBox_container{
    margin: 10rem 0 5rem 0;
    width: 100%;
    height: auto;
}

.contact_content{
    width: 50%;
    margin: 0 auto;
    padding: 2rem 0;
    gap: 1rem;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    display: grid;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 440px) {
    .contactBox_container{
        padding: 10px;
    }
    .contact_content{
        width: 100%;
    }
}