/* Bill */
#abill {
    position: absolute;
    width: 80%;
    margin-top: 6.5rem;
    left: 18%;
}

/* bill no: id: name: */
.aguopoidHead{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 2rem;
}
.aiconnboxx{
    text-align: center;
    font-size: 45px;
    color: #347FFF;
}
.abill-detial{
    padding: 25px 40px ;
    background: #FFF;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
}
.aidf{
    display: grid;
    gap: 1rem;
    padding-bottom: 1rem;
}

.abillGopBox{
    display: grid; 
    width: 100%;
    margin: auto;
    padding: 30px 0;
  
}


.abillGopBox table {
    width: 100%;
}

.abillGopBox table tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.abillGopBox table tr th {
    width: 15%;
    text-align: center;
}
.abillGopBox table tr td {
    width: 15%;
    text-align: center;
}

.atitlePrice{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.aplace-on{
    display: grid;
    gap: 1rem;
    padding: 0 2rem;
}

/* update status */
.aplace-on form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.aplace-on form select {
    width: 15%;
}
.aplace-on form select:focus{
    outline: none !important;
}
.aplace-on form button {
    background-color: #347FFF;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    border: none;
    color: white;
    cursor: pointer;
}

/* ================ Responsive ==================*/
/* For smartphones with a maximum width of 480px */
/* @media only screen and (max-width: 480px) {
    .box_guopoidHead{
        padding: 0;
    }
    
    .box_icon_Check {
        display: flex;
        margin-left: 4rem;
    }
} */