*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ============ container_body =========== */

.container_box_orderpage{
    position: absolute;
    width: 81.5%;
    height: auto;
    left: 16rem;
    margin-top: 7rem;
    padding: 20px 50px 40px 50px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    
}
.box_head_search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* ============ box_users_chat =========== */

.box_users_order{
    width: 95%;
    height: 100px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 20px 30px 20px 30px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.box_container_time{
    display: flex;
}

.box_order_text{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}



.container_order_icon{
    display: flex;
    gap: 1rem;
    align-items: center;
}
#icon_edit_delete{
    width: 25px;
    height: 25px;
    color: #FFF;
}
.btn_pending{
    width: 100px;
    height: 40px;
    display: flex;
    color: #FA442C;
    align-items: center;
    justify-content: center;
    border: 1px solid #FA442C;
    border-radius: 7px;
}
.btn_paid{
    width: 80px;
    height: 25px;
    display: flex;
    color: #FFF;
    align-items: center;
    justify-content: center;
    background: #35B869;
    border-radius: 5px;
}
.btn_view{
    width: 100px;
    height: 40px;
    display: flex;
    color: #FFF;
    cursor: pointer;
    border: none;
    align-items: center;
    justify-content: center;
    background: #27A7EF;
    border-radius: 7px;
}


/* ============ box_prev_next =========== */


.box_next_order{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    border: none;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    bottom: 0;
}
.box_prev_next_order{
    width: 80px;
    height: 40px;
    display: flex;
    gap: 0.3rem;
    color: #FFF;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    background: #FA442C;
}
.box_prev_nexts_order{
    width: 80px;
    height: 40px;
    display: flex;
    gap: 0.3rem;
    color: #FFF;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    background: #27A7EF;
}

#box_prev_next_icon{
    width: 20px;
    height: 20px;
}

.num{
    width: 70px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #444;
}
.box_next p{
    font-size: 18px;
}

.box_num_order{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}



/* ================ Responsive ==================*/
