*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.box_container{
  position: relative;
}
a{
  text-decoration: none;
}
/* ============== body box_container =============*/
.box_container{
  width: 800px;
  height: 720px;
  position: relative;
  border-radius: 1em;
  display: grid;
  text-align: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
}

.box_cancel_register{
  padding: 28px 0 0 42rem;
}
#icon_cancel_register{
  width: 30px;
  height: 30px;
  
}
.container_register{
  width: 370px;
  height: 600px;
  padding: 1.5rem 0;
  position: relative;
  border-radius: 1em;
  display: grid;
  text-align: center;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#box_cancel{
  width: 30px;
  height: 30px;
  margin: 1.8rem 0 0 42rem;
}


.text_register{
  color: rgba(0, 0, 0, 0.80);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.box_form_register{
  display: grid;
  justify-content: center;
  gap: 1rem;
}
.box_form input{
  width: 450px;
  height: 58px;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.40);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.input_form{
  padding: 20px 15px;
}

.box_form1{
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
.box_form1 input{ 
  width: 220px;
  height: 58px;
  margin-top: 1rem;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid rgba(0, 0, 0, 0.40);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.input_form1{
  padding: 20px 15px;
}


/* ================= Button Login with Google ================= */ 

.google_btn{
  width: 450px;
  height: 58px;
  display: flex; 
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 20px 15px;
  border-radius: 10px;
  margin-left: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.40);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}


.google_btn img{
  width: 30px;
  height: 30px;
}
.google_btn p{
  color: rgba(0, 0, 0, 0.60);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}



/* ================= Button signup_btn ================= */ 
.signup_btn{
  width: 450px;
  height: 58px;
  margin: 1rem;
  background: #FA442C;
  color: #FFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.signup_btn:hover{
  color: #FFF;
}


/* ================= Responsive ================= */

@media screen and (max-width: 1024px) {
  .box_container{
    width: 700px;
      height: 750px;
  }
  
}
@media screen and (max-width: 820px) {
  .box_container{
    width: 620px;
      height: 750px;
  }
  
}
@media screen and (max-width: 431px) {
  .box_container{
    width: 350px;
    height: 620px;
  }
  .box_form input{
    width: 300px;
    height: 48px;
  }
  .box_form1 input{
    width: 145px;
    height: 48px;
  }
  
  .signup_btn{
      width: 300px;
      height: 48px;
  }
  .google_btn{
      width: 300px;
      height: 48px;
  } 
  
}

@media screen and (max-width: 371px) {
.box_container{
    width: 310px;
    height: 720px;
}
.box_form input{
  width: 280px;
  height: 48px;
}
.box_form1 input{
  width: 135px;
  height: 48px;
}

.signup_btn{
    width: 280px;
    height: 48px;
}
.google_btn{
    width: 280px;
    height: 48px;
}
}
@media screen and (max-width: 321px) {
.box_container{
  width: 290px;
  height: 620px;
}

.signup_btn{
    width: 260px;
    height: 48px;
}
.google_btn{
    width: 260px;
    height: 48px;
}

.box_form input{
  width: 260px;
  height: 48px;
}
.box_form1 input{
  width: 125px;
  height: 48px;
}
}












