.categoryBox_container {
    margin-top: 6rem;
}

.searchBycate {
    padding-left: 10rem;
}

.txtheadcateg {
    font-weight: 600;
    font-size: 20px;
}

.box_container_home {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

/* ================== Responsive ==============*/

@media screen and (max-width: 821px) {
    .searchBycate {
        padding-left: 4rem;
    }

    .txtheadcateg {
        font-weight: 600;
        font-size: 20px;
    }

    .box_container_home {
        width: 90%;
        padding: 10px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .box_container_img img {
        width: 100%;
        height: 16vh;
    }
}

@media screen and (max-width: 431px) {
    .searchBycate {
        padding-left: 1rem;
    }

    .txtheadcateg {
        font-weight: 600;
    }

    .box_container_home {
        width: 100%;
        padding: 10px;
        grid-template-columns: 1fr 1fr;
    }

    .box_container_img img {
        width: 100%;
        height: 18vh;
    }
}