body {
    background-color: #F5F5F5;
}

/* Left bar */
#dashboard .left {
    position: fixed;
    left: 0;
    width: 235px;
    height: 830px;
    z-index: 999;
    background-color: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

/* menu */
#dashboard .left .menu {
    margin-top: 7rem;
    display: grid;
    gap: 2.2rem;
    justify-content: center;
}

#dashboard .left .menu .link {
    display: flex;
    gap: 1rem;
    padding: 10px 45px;
    font-size: 1.2rem;
    border-radius: 7px;
    cursor: pointer;
    color: #737791;
    font-weight: 400;

}

#dashboard .left .menu .link:hover {
    color: #ff7446;
}

#dashboard .left .menu .active {
    background: #ff7446;
    color: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
}


#dashboard .left .menu .active:hover {
    color: #FFF;
}

.link_iconn {
    font-size: 23px;
}

#dashboard .left .menu .link p {
    margin-left: 1rem;
}

/* Right bar */
#dashboard .right {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 0 2rem;
}

.boximage_admin {
    text-align: end;
    margin-right: 2rem;
}

/* form */
.logo {
    margin-left: 2rem;
}

.logo img {
    width: 80%;
}

.userAdminImage img {
    width: 12%;
}

.boxAlertDelete2 {
    top: 0;
    width: 100%;
    height: 120vh;
    position: fixed;
    z-index: 9999;
    background-color: #0000003b;
}