body {
    background-color: #F5F5F5;
}

/* Left bar */
.container_boxD {
    width: 100%;
    display: flex;
    position: fixed;
}

#dashboard .left {
    text-align: center;
    justify-content: center;
    left: 11%;
    width: 235px;
    height: 830px;
    flex-shrink: 0;
    z-index: 999;
    padding: 0 auto;
    overflow: hidden;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

#dashboard .left .logo img {
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 1rem auto;


}


/* menu */
#dashboard .left .menu {
    margin-top: 1rem;
    display: grid;
    gap: 2.2rem;
    justify-content: center;
}

#dashboard .left .menu .link {
    display: flex;
    gap: 1rem;
    padding: 10px 45px;
    font-size: 1.2rem;
    border-radius: 7px;
    color: #737791;
    font-weight: 400;

}

#dashboard .left .menu .link:hover {
    color: #0E64D2;
}

#dashboard .left .menu .active {
    background: #0E64D2;
    color: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
}

#dashboard .left .menu .active:hover {
    color: #FFF;
}

.link_iconn {
    font-size: 23px;
}

#dashboard .left .menu .link p {
    margin-left: 1rem;
}

/* Right bar */
#dashboard .right {
    top: 0;
    width: 100%;
    height: 90px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
}

/* form */
#dashboard .right {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
}

/* input search box */
#dashboard .right .search-box {
    display: flex;
    width: 50%;
}

#dashboard .right .titleNname {
    color: #151D48;
}

#dashboard .right .search-box input {
    width: 772px;
    height: 45px;
    border: 2px solid rgba(14, 100, 210, 0.50);
    background: #FFF;
    padding: 0 1rem;
    border-radius: 7px;
}

#dashboard .right .search-box button {
    background: #0E64D2;
    color: #FFF;
    width: 120px;
    height: 45px;
    border: 2px solid rgba(14, 100, 210, 0.50);
    border-radius: 7px;
    font-size: 1.7rem;
    cursor: pointer;
}

#dashboard .right .search .target-graph img {
    width: 90%;
    height: 90%;
}

.spenBox {
    padding-top: 7%;
    margin-left: 16.5%;
}

.userAdminImage img{
    width: 30%;
}