* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ============ container_body_adminuser =========== */
.container_body_adminuser {
    width: 100%;
    z-index: 999;
    padding: 88px 20px 20px 255px;
}

.container_box_adminusers {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 1rem;
    padding: 30px 20px 20px 20px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.box_search_user {
    width: 1126px;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 40px 0 0;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.box_search_user img {
    width: 55px;
    height: 55px;
}

.box_users {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*====== input search box ========*/

.search-box_menageruser {
    display: flex;
    width: 100%;
    padding: 10px 30px 10px 0;
}



.search-box_menageruser input {
    width: 500px;
    height: 45px;
    border: 1px solid #ccc;
    background: #FFF;
    padding: 0 1rem;
    border-radius: 5px 0 0 5px;
}

.search-box_menageruser button {
    background: #FA442C;
    color: #FFF;
    width: 65px;
    height: 45px;
    border: 1px solid #ccc;
    font-size: 1.7rem;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}


/* ============ box_users_user =========== */

.box_users_user {
    width: 94%;
    height: 90px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 20px 30px 20px 30px;
    cursor: pointer;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.box_user_text {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.container_chat_name{
    display: grid;
    gap: 0.5rem;
}

.box_user_text img {
    width: 70px;
    height: 70px;
}

.container_user_icon {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#icon_edit_delete {
    width: 25px;
    height: 25px;
    color: #FFF;
}

.btn_edit_user {
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
    border: none;
    align-items: center;
    justify-content: center;
    background: #27A7EF;
    border-radius: 8px;
}

.btn_delete_user {
    width: 40px;
    height: 40px;
    display: flex;
    cursor: pointer;
    border: none;
    align-items: center;
    justify-content: center;
    background: #FA442C;
    border-radius: 8px;
}


/* ============ box_next_user =========== */


.box_next_user {
    display: flex;
    gap: 1rem;
    cursor: pointer;
    border: none;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    bottom: 0;
}

.box_prev_next_user {
    width: 80px;
    height: 40px;
    display: flex;
    gap: 0.3rem;
    color: #FFF;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    background: #FA442C;
}

.box_prev_nexts_user {
    width: 80px;
    height: 40px;
    display: flex;
    gap: 0.3rem;
    color: #FFF;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    align-items: center;
    justify-content: center;
    background: #27A7EF;
}

#box_prev_next_icon {
    width: 20px;
    height: 20px;
}

.num_users {
    width: 60px;
    height: 40px;
    border-radius: 6px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}

.box_next_user p {
    font-size: 16px;
}

.box_num_users {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}


/* ================ Responsive ==================*/

@media screen and (max-width: 1024px) {}