* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* ----------- Header ---------------- */
body {
    background-color: #FFF;
}

.header_boxx {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #FFF;
    z-index: 99;
}

.headerr_positoinn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 57px;
}

.heaRight {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* ----------- END Header ---------------- */


/* ----------- Text Name, Price and Description ---------------- */
.contentBody {
    width: 70%;
    margin: 6rem auto 0 auto;
}


.box_container_back_icons_back {
    display: flex;
    font-size: 20px;
    gap: 0.5rem;
    color: #858080;
    align-items: center;
    margin-bottom: 2rem;
}

.box_container_back_icons_back p {
    font-size: 18px;
    color: #858080;
}


.boxProduct_deteils {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 0;
    margin: 2rem 0;
}

.txt_nameP {
    font-size: 30px;
}

.money_txt {
    color: #0E64D2;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.72px;
}

.startBox {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.txt_nameP,
.money_txt,
.startBox,
.txt_description,
.color_product,
.size_product {
    padding: 0.7rem 0;

}

#icon_stars {
    width: 25px;
    height: 25px;
    color: #f6ea07;
}

#icon_star {
    width: 25px;
    height: 25px;
}

.txt_description {
    font-family: Poppins;
    font-size: 16px;
}


.color_product,
.size_product {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* Checked radio color */
.color_product label {
    cursor: pointer;
}

.color_product div {
    display: flex;
    align-items: center;
}

.color_product div input {
    margin-left: 0.3rem;
}

/* Checkbox size */
.size_product input {
    display: none;
}

.echColor {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 1000px;
    border: 3px solid black;

}

.echSize {
    cursor: pointer;
    padding: 7px 17px;
    border: 2px solid rgba(0, 0, 0, 0.30);
    border-radius: 5px;
}

/* Acctive sizes */
.echSize.active {
    cursor: pointer;
    padding: 7px 17px;
    border: 2px solid #FF4F16;
    border-radius: 5px;
    background-color: #FF4F16;
    color: #FFF;
}

.echSize:hover {
    background-color: #FF4F16;
    color: #FFF;
}


.Count_product {
    display: flex;
    gap: 1rem;
    padding: 25px 0;
}

.echbtn {
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}

.btnBut {
    background-color: #ff5016ec;
    color: #FFF;
    border: 1px solid #FF4F16;

}

.btnBut:hover {
    background-color: #FF4F16;
    color: #FFF;
}

.btnAdd {
    border: #FF4F16 1px solid;
    color: #FF4F16;
    cursor: pointer;
    background-color: #fff;
}

.btnAdd:hover {
    background-color: #FF4F16;
    color: #fff;
}

/* ----------- END Text Name, Price and Description ---------------- */



/* -----------Start Image gallery ---------------- */



.product-page-img {
    width: 80%;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.myslides {
    width: 450px;
    height: 450px;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.myslides img {
    width: 450px;
    height: 450px;
    object-fit: contain;
}

.myslides .numbertext {
    color: #f2f2f2;
    text-shadow: 0 0 4px #111;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    left: 0;
}

.product-page-img .prev,
.product-page-img .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 10px;
    margin-top: -50px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    background: rgba(0, 0, 0, 0.2);
    user-select: none;
    cursor: pointer;
}

.product-page-img .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.product-page-img .prev:hover,
.product-page-img .next:hover {
    background: rgba(0, 0, 0, 0.7);
}

.product-page-img .slider_img {
    width: 95%;
    height: 50px;
    overflow: scroll;
    display: flex;
    user-select: none;
    margin: auto;
}

.product-page-img .slider_img::-webkit-scrollbar {
    display: none;
}

.product-page-img .slider_img .slider-box {
    width: 50px;
    height: 50px;
    min-width: 50px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid #ddd;
    padding: 2px;
    opacity: 0.6px;
}

.product-page-img .slider_img .slider-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
}

.product-page-img .slider_img .slider-box:hover {
    border: 2px solid teal;
    opacity: 1;
}

.product-page-img .slider_img .slider-box.active {
    border: 2px solid crimson;
    opacity: 1;
}


/* ----------- END Image gallery ---------------- */




/* ----------- box_item_icon  ---------------- */
.container_item_icon {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-top: 1rem;
    font-size: 22px;
}

.container_item_icon span {
    width: 5%;
    text-align: center;
}

.container_item_icon span input {
    width: 100%;
    text-align: center;
}


.container_minus_plus {
    width: 35px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
    border-radius: 5px;
}

.container_minus_plus:hover {
    background-color: #FF4F16;
    color: #FFF;
    cursor: pointer;
    border: none;
}

/* ------------------last Item------------------ */

.txtContentproduct {
    width: 80%;
}

.description_container {
    width: 90%;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.description_container img {
    width: 100%;
    object-fit: cover;
}



/* ----------- Media Screen ---------------- */
@media screen and (min-width: 1537px) and (max-width: 1950px) {
    .contentBody {
        width: 60%;
    }

    .product-page-img .slider_img {
        width: 100%;
        height: 50px;
        overflow: scroll;
        display: flex;
        user-select: none;
    }

    .product-page-img .slider_img::-webkit-scrollbar {
        display: none;
    }

    .product-page-img .slider_img .slider-box {
        width: 50px;
        height: 50px;
        min-width: 50px;
        cursor: pointer;
        overflow: hidden;
        border: 1px solid #ddd;
        padding: 2px;
        opacity: 0.6px;
    }

    .product-page-img .slider_img .slider-box img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: inline-block;
    }
}

@media screen and (max-width: 1025px) {
    .contentBody {
        width: 90%;
        margin: 6rem auto;
    }

    .boxProduct_deteils {
        grid-template-columns: 1fr 2fr;
        gap: 0;
        margin: 2rem 0;
    }

    .txtContentproduct {
        width: 100%;
    }

}

@media screen and (max-width: 830px) {
    .contentBody {
        width: 100%;
    }

    .product-page-img {
        width: 70%;
    }

    .boxProduct_deteils {
        grid-template-columns: 1fr;
        gap: 0;
        margin: 2rem 0;
    }

    .txtContentproduct {
        width: 70%;
        margin: auto;
    }

    .description_container {
        width: 75%;
    }

}



@media screen and (max-width: 431px) {
    .boxProduct_deteils {
        display: block;
        gap: 2rem;
    }

    .contentBody {
        width: 100%;
        padding: 10px;
        margin: 5rem auto 7rem auto;
    }

    .txt_nameP {
        font-size: 26px;
    }

    .footer_boxx {
        display: flex;
    }

    .echCount {
        margin-bottom: 4rem;
        margin-left: 3rem;
    }

    .txt_description {
        font-size: 18px;
        width: 95%;
        overflow: hidden;

    }
    .product-page-img {
        width: 100%;
    }

    .myslides {
        width: 100%;
        height: 430px;
        background-size: cover;
        overflow: hidden;
    }

    .myslides img {
        width: 100%;
        height: auto;
        background-size: cover;
        object-fit: contain;
    }

    .txtContentproduct {
        padding: 10px;
        width: 100%;
        margin: auto;
        overflow: hidden;
    }

    .product-page-img {
        width: 100%;
    }

    .description_container {
        width: 100%;
        height: auto;
    }
    .product-page-img .slider_img {
        width: 100%;
    }

    .box_container_back_icons_back {
        margin-bottom: 1rem;
    }
}


@media screen and (max-width: 376px) {
   
    .product-page-img {
        width: 100%;
    }

    .myslides {
        width: 100%;
        height: 380px;
        background-size: cover;
        overflow: hidden;
    }

    .myslides img {
        width: 100%;
        height: auto;
        background-size: cover;
        object-fit: contain;
    }

}
