* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.container_home {
    width: 65%;
    margin: 0 auto;
}

.container_head_search {
    display: flex;
    align-items: center;
    margin: 2rem auto;
    margin-bottom: 0;
    justify-content: center;
    width: 40%;
    position: relative;
    border: 1px solid #ccc;
    background-color: #FFF;
    border-radius: 12px;
    padding: 0.5rem 1rem;
    top: 70px;
}

.container_head_search input {
    width: 100%;
}

.box_container_img {
    background-color: #FFF;
    margin: auto;
}

.box_Filterseach_home{
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

input:focus {
    outline: none;
}

.onlacksearch {
    cursor: pointer;
}

#search-icon {
    width: 25px;
    height: 25px;
    color: #a5a5a5;
    margin-right: 1rem;
}

.container_product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0rem;
    margin-top: 3rem;
}

.container_product .categoryFilter:first-child {
    margin: 0 1rem;
}

.product_fillter {
    display: flex;
    gap: 10px;

}

.container_product h3 {
    font-size: 23px;
    font-family: 600;
}

.categoryFilter {
    /*Is price filter*/
    cursor: pointer;
    font-size: 15px;
    padding: 7px 10px;
    border-radius: 5px;
}

.contentImageProducts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.group_itemBox {
    width: 100%;
    height: auto;
    display: flex;
    border: 1px solid #eee;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    overflow: hidden;
}

.group_itemBox:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

.group_itemBox .img {
    width: 230px;
    height: 220px;
    overflow: hidden;
}

.group_itemBox .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
}

.txtOFproduct {
    display: flex;
    padding: 0 20px 10px 20px;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}

.loadmore_btn_more {
    padding: 12px 50px;
    background: #FF4F16;
    color: #ffffff;
    border-radius: 5px;
    border: 1px;
    cursor: pointer;
    margin: 3rem 0 2rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
}

.btn_more {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================== Responsive ==============*/

@media screen and (min-width: 1537px) and (max-width: 1950px) {
    .contentImageProducts {
        width: 80%;
        margin: 0 auto;
    }

}

@media screen and (min-width: 768px) and (max-width: 1025px) {
    .container_home {
        width: 80%;
        margin: 0 auto;
    }

    .contentImageProducts {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .group_itemBox {
        padding: 0;
    }

    .group_itemBox .img {
        display: flex;
        width: 200px;
        height: 170px;
        align-items: center;
        overflow: hidden;
    }

    .group_itemBox .img img {
        padding: 15px;
    }

    .container_product {
        margin-top: 0;
    }

    .container_head_search {
        width: 70%;
        margin-top: 5rem;
        top: 10px;
    }

}

@media screen and (max-width: 431px) {

    .container_home {
        width: 100%;
    }


    .container_head_search {
        width: 90%;
    }

    .contentImageProducts {
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }

    .group_itemBox {
        padding: 0;
    }

    .group_itemBox .img {
        display: block;
        width: 100%;
        height: 20vh;
        overflow: hidden;
    }

    .group_itemBox .img img {
        padding: 10px;
    }

    .content_itemBox {
        padding: 0 10px;
    }

    .container_product {
        display: block;
        width: 100%;
        overflow: hidden;
        padding: 3rem 0 2rem 0;
    }

    .container_product h3 {
        font-size: 20px;
        padding-bottom: 1.5rem;
    }

    .cetegory_form label {
        display: none;
    }

    .btn_more {
        margin-bottom: 5rem;
    }

}

@media screen and (max-width: 376px) {
    .box-product img {
        height: 20vh;
    }
}