* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* ----------- Header ---------------- */


.header_boxx {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
    width: 100%;
    position: fixed;
    top: 0;
    background-color:  #FFF;
    z-index: 99;
}
.headerr_positoinn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    height: 57px;
}

.heaRight {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* ----------- END Header ---------------- */


/* ----------- Text Name, Price and Description ---------------- */
.contentBody {
    width: 70%;
    margin: 6rem auto 0 auto;
}


.box_container_back_icons_back{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.box_container_back_icons_back p{
    font-size: 20px;
    color: #858080;
    font-weight: 600;
}
#box_container_back_icons_back{
    width: 28px;
    height: 28px;
    color: #9a9595;
}



.boxProduct_deteils{
    display: flex;
    gap: 2rem;
}

.txt_nameP{
    font-size: 30px;
}

.money_txt {
    color: #0E64D2;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.72px;
}

.startBox {
    display: flex;
    gap: 1rem;
    align-items: center;
}



.txt_nameP,.money_txt, .startBox,.txt_description,.color_product,.size_product{
    padding: 0.7rem 0;

}

#icon_stars{
    width: 25px;
    height: 25px;
    color: #f6ea07;
}
#icon_star{
    width: 25px;
    height: 25px;
}

.txt_description {
    font-family: Poppins;
    font-size: 16px;
}


.color_product,.size_product{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.colB{
    background-color: black;
    color: #FFF;
}
.colW{
    background-color: fff;
    color: #000;
}
.colBlue{
    background-color: blue;
    color: #FFF;
    
}
.echColor{
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 1000px;
    border: 3px solid black;

}
.echSize{
    cursor: pointer;
    padding: 7px 17px;
    border: 2px solid rgba(0, 0, 0, 0.50);
    border-radius: 5px;
}
.echSize:hover{
    background-color: #FF4F16;
    color: #FFF;
    border: #FF4F16 2px solid;
}


.Count_product{
    display: flex;
    gap: 1rem;
    padding: 25px 0;
}

.echbtn{
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 17px;
}
.btnBut{
    background-color: #FF4F16;
    color: #FFF;
}
.btnAdd{
    border: #FF4F16 1px solid;
    color: #FF4F16;
}




/* ----------- END Text Name, Price and Description ---------------- */


.slider {
    position: relative;
    width: 100%;
    height: 430px;
    overflow: hidden;
    margin: 1rem;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.slide.right {
    animation-name: slide-right;
}

.slide.left {
    animation-name: slide-left;
}

@keyframes slide-right {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.but1 {
    position: absolute;
    top: 180px;
    left: 0;
}
.but2 {
    position: absolute;
    top: 180px;
    right: 0;
}

.nav-btn {
    width: 35px;
    height: 35px;
    margin: 0 7px;
    border-radius: 50%;
    background-color: #999;
    color: #fff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.nav-btn:hover {
    background-color: #999;
}


/* ----------- box_item_icon  ---------------- */
.container_item_icon{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-top: 1rem;
    font-size: 22px;
}


.container_minus_plus{
    width: 35px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
    border-radius: 5px;
}
.container_minus_plus:hover{
    background-color: #FF4F16;
    color: #FFF;
    cursor: pointer;
    border: none;
}



/* ----------- Footer ---------------- */

.footer_boxx {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    border-radius: 10px 10px 0px 0px;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.btn_foot a {
    padding: 13px 30px;
    border-radius: 7px;
}

.Buy_Now a {
    background-color: #FF4F16;
    color: #FFF;

}

.Buy_Now a:hover {
    color: #FFF;

}

.Add_To_Cart a {
    border-radius: 7px;
    color: #FF4F16;
    border: 1px solid #FF4F16;
}

/* ----------- END Footer ---------------- */


/* ----------- Media Screen ---------------- */

@media screen and (max-width: 820px) {
    
    .contentBody {
        width: 100%;
        padding: 10px;
        margin: 5rem auto 0 auto;
    }
    .slider {
        position: relative;
        width: 100%;
        height: 350px;
    }
    .txtContentproduct{
        padding: 10px;
        width: 85%;
        margin: auto;
        overflow: hidden;
    }
    
}



@media screen and (max-width: 431px) {

    .boxProduct_deteils{
        display: block;
        gap: 2rem;
    }
    .contentBody {
        width: 100%;
        padding: 10px;
        margin: 3.5rem auto 0 auto;
    }
    .txt_nameP{
        font-size: 26px;
    }
    .footer_boxx{
        display: flex;
    }
    .Count_product{
        display: none;
    }
    .echCount{
        margin-bottom: 4rem;
        margin-left: 3rem;
    }
    .txt_description{
        font-size: 18px;
        width: 95%;
        overflow: hidden;
        
    }
    .txtContentproduct{
        padding: 10px;
        width: 95%;
        margin: auto;
        overflow: hidden;
    }
    .boxProduct_deteils{
        flex-direction: column;
    }
    .nav-btn {
        margin-top: -1rem;
    }
}


@media screen and (max-width: 371px) {
    .slider {
        position: relative;
        width: 100%;
        height: 250px;
    }
    .boxProduct_deteils{
        display: block;
        gap: 2rem;
    }
    .contentBody {
        width: 100%;
        padding: 10px;
        margin: 3.5rem auto 0 auto;
    }
    .txt_nameP{
        font-size: 26px;
    }
    .footer_boxx{
        display: flex;
    }
    .Count_product{
        display: none;
    }
    .echCount{
        margin-bottom: 4rem;
        margin-left: 3rem;
    }
    .txt_description{
        font-size: 18px;
        width: 95%;
        overflow: hidden;
        
    }
    .txtContentproduct{
        padding: 10px;
        width: 95%;
        margin: auto;
        overflow: hidden;
    }
    .boxProduct_deteils{
        flex-direction: column;
    }
    .echSize{
        padding: 5px 10px;
        font-size: 14px;
    }
    .nav-btn {
        margin-top: -4rem;
    }
}


@media screen and (max-width: 321px) {
    .slider {
        position: relative;
        width: 100%;
        height: 200px;
    }
    .boxProduct_deteils{
        display: block;
        gap: 2rem;
    }
    .contentBody {
        width: 100%;
        padding: 10px;
        margin: 3.5rem auto 0 auto;
    }
    .txt_nameP{
        font-size: 22px;
    }
    .footer_boxx{
        display: flex;
    }
    .Count_product{
        display: none;
    }
    .echCount{
        margin-bottom: 4rem;
        margin-left: 3rem;
    }
    .txt_description{
        font-size: 18px;
        width: 95%;
        overflow: hidden;
        
    }
    .txtContentproduct{
        padding: 10px;
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    .boxProduct_deteils{
        flex-direction: column;
    }

    .footer_boxx {
        padding: 0 10px;
    }
    .btn_foot a {
        padding: 10px 25px;
        border-radius: 7px;
    }
    .echSize{
        padding: 5px 10px;
        font-size: 14px;
    }
    .nav-btn {
        margin-top: -5rem;
    }
   
}