a {
    text-decoration: none;
}

#product {
    width: 65%;
    margin: auto;
    height: auto;
}

.productHead_content {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}


.htxthead,
.categoryBoxfiler {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter_priceProduct {
    font-size: 15px;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.spennofStyle {
    width: 20px;
    height: 40px;
    background-color: #FF4F16;
    border-radius: 4px;
}

#product .product-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

#product .box-product {
    width: 100%;
    height: auto;
    display: flex;
    border: 1px solid #eee;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
    overflow: hidden;
}

#product .box-product:hover {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
}

#product .box-product .img {
    display: flex;
    width: 250px;
    height: 220px;
    align-items: center;
    overflow: hidden;
}

#product .box-product .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
}

.txtOFproduct2 {
    display: flex;
    padding: 0 20px 10px 20px;
    flex-direction: column;
    gap: 10px ;
    list-style: none;
}

.price {
    font-weight: 600;
}

.btnViewProduct {
    width: 170px;
    padding: 10px 0;
    color: #FFF;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #FF4F16;
    border-radius: 7px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}


@media screen and (min-width: 1537px) and (max-width: 1950px) {
    .product-area {
        width: 80%;
        margin: 0 auto;
    }
    .productHead_content{
        padding: 0 5rem;
    }
}


@media screen and (max-width: 820px) {
    #product {
        width: 100%;
        padding: 0 10px;
        margin: 0;
    }

    .product-area {
        width: 80%;
        margin: 0 auto;
    }

    .productHead_content {
        padding: 0 3rem;
    }

    #product .product-area {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        justify-content: center;
    }

    #product .box-product .img {
        display: flex;
        width: 200px;
        height: 170px;
        align-items: center;
        overflow: hidden;
    }

    #product .box-product .img img {
        padding: 20px;
    }
}

@media screen and (max-width: 420px) {
    #product {
        width: 100%;
        padding: 0 10px;
        margin: 0;
    }

    #product .product-area {
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }

    #product .box-product .img {
        display: block;
        width: 100%;
        height: 20vh;
        overflow: hidden;
    }

    #product .box-product .img img {
        padding: 15px;
    }

    .product-area {
        width: 100%;
        margin: 0;
    }

    .productHead_content {
        padding: 0;
    }

    .btnViewProduct {
        margin-bottom: 10rem;
    }
}


@media screen and (max-width: 376px) {}