* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.container_home {
    width: 75%;
    margin: auto;
    padding-top: 1rem;
}

.container_head {
    display: flex;
}

#cancel_icon {
    width: 40px;
    height: 40px;
}

.container_head_search {
    display: flex;
    align-items: center;
    margin-top: 4rem;
}


.box_container_img {
    background-color: #FFF;
    margin: auto;
}

.input_wrapper {
    margin: auto;
    background-color: #F5F6F2;
    width: 600px;
    height: 45px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 15px;
}

input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

input:focus {
    outline: none;
}

#search-icon {
    width: 48px;
    height: 48px;
    color: #999;
}

.container_product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}

.product_fillter {
    display: flex;
    gap: 10px;

}

.container_product h3 {
    font-size: 23px;
    font-family: 600;
}

.cetegory_form,
.container_product_category {
    display: flex;
    align-items: center;
    gap: 10px;
}

.categoryFilter {
    cursor: pointer;
    font-size: 15px;
    padding: 7px 30px;
    border-radius: 5px;
}

.product-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.box-product {
    width: 100%;
    height: auto;
    background-color: #fff;
    overflow: hidden;
    border-radius: 7px;
    margin-top: 1rem;

}

.txtOFproduct {
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

.box-product img {
    width: 100%;
    height: 32vh;
}

.box_container_img {
    border-radius: 7px;
}

.box_container_img img {
    border-radius: 7px;
    overflow: hidden;
    width: 230px;
    height: 200px;
    overflow: hidden;
}

.priceProduct {
    font-weight: 600;
}

.txtP_width {
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.loadmore_btn_more {
    padding: 12px 50px;
    background: #FF4F16;
    color: #ffffff;
    border-radius: 5px;
    border: 1px;
    cursor: pointer;
    margin: 1rem 0 2rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
}

.btn_more {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ================== Responsive ==============*/

@media screen and (max-width: 821px) {
    .product-area {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .container_home {
        width: 85%;
        margin: auto;
    }

    .box-product img {
        height: 15vh;
    }

}

@media screen and (max-width: 431px) {
    .product-area {
        grid-template-columns: 1fr 1fr;
    }

    .container_home {
        width: 100%;
    }

    .box-product img {
        height: 17vh;
    }

    .content_itemBox {
        padding: 0 10px;
    }

    .container_product h3 {
        font-size: 20px;
    }

    .cetegory_form label {
        display: none;
    }

    .container_product_category {
        gap: 0;
        width: 50%;
    }

    .container_product {
        justify-content: space-between;
        width: 100%;
        overflow: hidden;
    }

    .txtOFproduct {
        padding: 10px;
        gap: 5px;
    }

    .btn_more {
        margin-bottom: 5rem;
    }

}

@media screen and (max-width: 376px) {
    .box-product img {
        height: 20vh;
    }
}