a {
    text-decoration: none;
}

#product {
    width: 65%;
    margin: auto;
    height: auto;
}

.productHead_content {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.htxthead {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter_priceProduct {
    font-size: 15px;
    padding: 7px 15px;
    border-radius: 5px;
}

.spennofStyle {
    width: 20px;
    height: 40px;
    background-color: #FF4F16;
    border-radius: 4px;
}

#product .product-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

#product .box-product {
    width: 100%;
    height: auto;
    background-color: #fff;
    overflow: hidden;
    border-radius: 7px;
}

.imageBox {
    width: 100%;
    height: 230px;
    overflow: hidden;
    background-size: cover;
}

#product .box-product img {
    width: 100%;
    height: 32vh;
}

.txtOFproduct {
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

.priceProduct {
    font-weight: 600;
}

.btnViewProduct {
    width: 170px;
    padding: 10px 0;
    color: #FFF;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #FF4F16;
    border-radius: 7px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 820px) {
    #product {
        width: 85%;
    }
    #product .box-product img {
        width: 100%;
        height: 14vh;
    }
}

@media screen and (max-width: 420px) {
    #product {
        width: 100%;
        padding: 0 10px;
    }

    #product .product-area {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .imageBox {
        height: 190px;
    }
    #product .box-product img {
        width: 100%;
        height: 20vh;
    }

    .txtOFproduct {
        padding: 10px;
        gap: 5px;
    }

    .btnViewProduct {
        padding: 15px 0;
        margin: 2rem auto 7rem auto;
    }

}


@media screen and (max-width: 376px) {
    #product {
        padding: 0 15px;
    }
    
}