/* Account header */
#account {
    margin: 4rem 0;
}
.header_boxBack {
    margin-top: 2rem;
    margin-left: 11rem;
}
.guopIconbAck{
    font-size: 18px;
    font-weight: 600;
    color: #666;
}
.accountContainer{
    display: flex;
}
#iconnBack{
    font-size: 1.5rem;
    color: #666;
}

.headerTiele {
    text-align: center;
    font-size: 20px;
}

/* Account infofation */
#account .personal-info {
    width: 60%;
    margin: auto;
    margin-top: 1.5rem;
    display: grid;
}


/* Image profile */

#account .personal-info .profile {
    width: 100%;
    margin-bottom: 1rem;
    
}

#account .personal-info .profile .box-image {
    width: 150px;
    height: 150px;
    border: 2px solid #0009;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 2rem;
}

#account .personal-info .profile .box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* User name */
#account .personal-info .profile .name {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 20px 40px;
}

/* name in page account */
.box_profile{
    display: flex;
}
#account .personal-info .profile .name p {
    padding: 0 0.5rem;
    color: #444;
}

/* Delete Account*/
.delete_account{
    display: flex;
    gap: 0.5rem;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
}

/* User information */
#account .personal-info ul {
    list-style-type: none;
}
.text-info{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-info1 a{
    display: flex;
    margin-left: -10rem;
    justify-content: space-between;
    color: #444;
    font-size: 1.2em;
    padding: 1rem 1rem;
    border-bottom: 2px solid #eee;
}
.box_account{
    display: flex;
    gap: 13rem;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.box_account h2{
    padding: 0 4rem;
}

#account .personal-info .text-info a {
    display: flex;
    gap: 1.5rem;
    text-decoration: none;
    justify-content: space-between;
    color: #444;
    font-size: 1.2em;
    margin: 0.3rem 0;
    padding: 1rem 1rem;
    border-bottom: 2px solid #eee;
}



/* About account */
#account .personal-info .about-account {
    display: flex;
    grid-gap: 2rem;
    margin: 2rem 1rem;
}

#account .personal-info .about-account a {
    /* This incloud logout and delete button */
    text-decoration: none;
    color: #fc0000;
    font-size: 1.2rem;
}

/* Down here is logout button */
#account .personal-info .about-account .logout {
    display: flex;
    cursor: pointer;
    align-items: center;
    border: none !important;
    border-radius: 5px;
    font-size: 16px;
}
#account .personal-info .about-account .logout:hover {
    color: #FA442C;
    transition: 0.5s;
}

#account .personal-info .about-account .logout .icon-logout {
    padding-right: 0.5rem;
    margin-top: 0.1rem;
    font-size: 1.2rem;
}
#icon-delete{
    padding-right: 0.5rem;
    margin-top: 0.1rem;
    font-size: 1.2rem;
}

/* Chang contact: Emait and phone */
#account .personal-info .contact-info {
    display: grid;
    grid-gap: 3rem;
    padding: 0 1.3rem;
}

#account .personal-info .contact-info .contact {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
}
.contact_label{
    width: 150px;
    color: #444;
    font-size: 1.2rem;
}
#account .personal-info .contact-info .contact input {
    /*====================*/
    width: 90%;
    border: none;
    border-bottom: 1px solid #ccc;
}

#account .personal-info .contact-info .contact input:focus {
    outline: none;
}

#account .personal-info .contact-info .contact input::placeholder {
    text-align: left;
}

/* image change */
#account .personal-info .contact-info .box-image {
    /* position: relative; */
    width: 150px;
    height: 150px;
    margin: 0 auto;
    /* This set image to center*/
    border: 2px solid #0009;
    border-radius: 50%;
    overflow: hidden;
}

#account .personal-info .contact-info .box-image label {
    position: absolute;
    left: 50%;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid #FA442C;
    border-radius: 3px;
    padding: 0.2rem 1rem;
    transform: translate(-50%, 590%);
}

#account .personal-info .contact-info .box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#account .personal-info .contact-info .box-image #choose-image {
    display: none;
}

/* Show contact information */
#account .personal-info .text-info a p {
    color: #7B7D7D;
    font-weight: 300;
}

/* Submit */
#account .personal-info .submit {
    margin-top: 5rem;
    width: 100%;
}

#account .personal-info .submit .save button {
    cursor: pointer;
    border: none;
    background: none;
    border-radius: 5px;
    background: #FA442C;
    padding: 0.4rem 2rem;
    color: #ffffff;
    font-size: 1.2rem;
}


@media (max-width: 820px) {

    /* Adjust styles for screens larger than 768px */
    #header-account {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .header_boxBack {
        margin-left: 1rem;
    }
    #header-account .account-navbar {
        width: 100%;
    }

    #account {
        width: 100%;
    }

    #account .personal-info {
        margin-bottom: 10rem;
    }

    #account .personal-info .contact-info .contact {
        font-size: 1.3rem;

    }

    #account .personal-info .contact-info .contact input {
        width: 35%;
        /* Change width to 100% */
        border: none;
        border-bottom: 1px solid #e42e2e;
    }

    #account .personal-info .submit {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
    }
    #account .personal-info .about-account .logout {
        width: 100%;
    }
    #account .personal-info {
        width:100%;
        margin-top: 4rem;
    }
    #account .personal-info .contact-info {
        padding: 0 20px;
    }
    #account .personal-info .contact-info .contact {
        justify-content: left;
        gap: 1rem;
    }
}