/*payment page*/
#payment {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
}

.guopBoxPayment {
    width: 70%;
    margin: auto;
    background-color: #fff;

}

.header_box {
    padding-top: 1rem;
    text-align: center;
}

#payment .adress-payment {
    display: grid;
}

#payment .adress-payment .box {
    display: grid;
    padding: 2rem 0;
}

#payment .adress-payment .box a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    padding: 0.3rem 0;
}

/* Address title */
#payment .adress-payment .box p {
    width: 80%;
    padding: 1.5rem 0.3rem;
    margin: 0 auto;
    font-family: "saysettha ot";
    color: #1589FF;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
}

#payment .adress-payment .box .address {
    background-color: #FA442C;
    font-size: 1.3rem;
    width: 80%;
    margin: 0 auto;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px 4px 0 0;
    padding: 5px 0;
    cursor: pointer;
}

.detailsProductInPayMentBox h3 {
    text-align: center;
    padding-bottom: 15px;
}

.detailsProductInPayMentBox ul {
    list-style: none;
    width: 80%;
    margin: auto;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
}

.paymentbill {
    display: grid;
    width: 80%;
    margin: auto;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.box_paymentbill {
    display: grid;
    gap: 0.5rem;
    padding: 0 10px;
}

.paymentbill table {
    width: 100%;
}

.hr {
    margin-top: 0.5rem;
}

.paymentbill table tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.paymentbill table tr th {
    width: 15%;
    text-align: center;
}

.paymentbill table tr td {
    width: 15%;
    text-align: center;
}

.payment_total_Price {
    padding: 20px 45px 10px 20px;
    display: flex;
    justify-content: space-between;
}


/* payment method */
#payment .adress-payment .box .transfer {
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
}

#payment .adress-payment .box .transfer .select-option {
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 18px;
}

#payment .adress-payment .box .transfer .select-option input {
   width: 50%;
}


#payment .adress-payment .box .transfer .select-option label {
    padding-left: 0.5rem;
    cursor: pointer;
}

/* transfer method */
#payment .adress-payment .box .qr {
    width: 30%;
    height: 30vh;
    margin: 0 auto;
}

#payment .adress-payment .box .qr img {
    margin-top: 2rem;
    width: 100%;
}

.boxImageqr {
    width: 100%;
    height: 50vh;
}

/* Submit button */
.save {
    padding: 1rem 0;
    text-align: center;
}

.save button {
    cursor: pointer;
    border: none;
    background: #FA442C;
    border-radius: 5px;
    padding: 0.5rem 2.5rem;
    color: #fff;
    font-size: 1rem;
}

.btn_orderbill {
    border: none;
    background: #27A7EF;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    color: #fff;
    font-size: 1rem;
}

/* ========= box_confirm_transfer ======== */
.box_description {
    width: 45%;
    margin: auto;
}

.box_description h3 {
    padding: 20px 0;
}

.image_confirm_transfer {
    width: 100%;
    display: grid;
    height: 60vh;
    margin-top: 1rem;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    overflow: hidden;
    color: #fff;
}

.image_confirm_transfer label p {
    display: grid;
    background-color: #FA442C;
    border-radius: 4px;
    width: fit-content;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: auto;
}

.image_confirm_transfer label input {
    display: none;
}

.image_confirm_transfer img {
    width: 100%;
    height: 50vh;
    cursor: pointer;
    object-fit: contain;
}

/* Address shipping */
#address form {
    font-size: 1.3rem;
    margin: 2rem 30rem 5rem 30rem;
    border-radius: 12px;
    border: 1px solid #ccc;
}

#address form .box {
    display: flex;
    padding: 1.25rem 1.3rem;
    width: 100%;
    justify-content: space-between;
}

#address form .box input {
    width: 100%;
    font-size: 1rem;
    padding: 0 1rem;
    border: none;
    border-bottom: 1px solid #ccc;
}

#address form .box input:focus {
    outline: none;
}

/* Responsive */
@media screen and (max-width: 1025px) {
    .boxImageqr {
        height: auto;
    }

    #payment .adress-payment .box .qr {
        width: 35%;
        height: auto;
    }

    .image_confirm_transfer {
        height: 30vh;
    }
}

@media screen and (max-width: 820px) {
    .header_box {
        padding-bottom: 1rem;
    }

    #payment {
        margin-top: 6rem;
        width: 100%;
    }

    .detailsProductInPayMentBox h3 {
        padding-top: 15px;
    }

    .guopBoxPayment {
        width: 90%;
        height: auto;
        padding-bottom: 2rem;
    }

    .boxImageqr {
        height: auto;
    }

    .boxImageqr .qr img {
        width: 100%;
        height: auto;
    }

    #payment .adress-payment .box .transfer {
        margin-top: 2rem;
    }

    #payment .adress-payment .box .qr {
        height: auto;
    }

    #payment .adress-payment .box {
        padding: 0;
    }

    .save {
        padding-top: 2rem;
    }

}

@media screen and (max-width: 431px) {
    #payment .adress-payment .box p {
        width: 100%;
    }

    #payment .adress-payment .box .address {
        width: 100%;
        font-size: 1.1rem;
    }

    #payment .adress-payment .box .qr {
        width: 70%;
    }

    .image_confirm_transfer {
        width: 100%;
        height: 55vh;
    }

    .paymentbill {
        width: 100%;
    }

    .payment_total_Price {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
    }

    .group_tble {
        display: grid;
        gap: 14px;
    }

    .box_paymentbill {
        gap: 0;
        padding: 0;
    }

    .paymentbill table {
        width: 100%;
    }

    .tbody_tble {
        display: grid;
        gap: 10px;
    }

    .tr_txt td {
        width: 50px;
        overflow: hidden;
    }

    .paymentbill table tr {
        margin: 0;
    }

    .paymentbill table tr th {
        width: 100%;
    }

    .tr_txt {
        font-size: 13px;
    }

    .paymentbill table tr td {
        width: 100%;
    }

    .box_description {
        width: 95%;
        margin: auto;
    }


}

@media screen and (max-width: 376px) {
    #payment {
        margin-bottom: 5rem;
    }
}