/*payment page*/
#payment {
    margin-top: 5rem;
    width: 100%;
}

.guopBoxPayment {
    width: 70%;
    height: 110vh;
}

.guopBoxPayment,
.account-navbar {
    margin: auto;
    background-color: #fff;
}

.account-navbar {
    padding-top: 1rem;
}

#payment .adress-payment {
    display: grid;
}

#payment .adress-payment .box {
    display: grid;
    padding: 2rem 0;
}

#payment .adress-payment .box a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    padding: 0.3rem 0;
}

/* Address title */
#payment .adress-payment .box p {
    width: 80%;
    padding: 1rem 0.3rem;
    margin: 0 auto;
    font-family: "saysettha ot";
    color: #1589FF;
    border: 1px solid #ccc;
}

#payment .adress-payment .box .address {
    background-color: #3498DB;
    font-size: 1.3rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* payment method */
#payment .adress-payment .box .transfer {
    display: flex;
    margin: 0 1rem;
    font-size: 1.3rem;
    align-items: center;
}

#payment .adress-payment .box .transfer .select-option {
    display: flex;
    margin: 0 auto;
    font-size: 1.2rem;
    align-items: center;
}

#payment .adress-payment .box .transfer .select-option input {
    width: 10%;
}

#payment .adress-payment .box .transfer .select-option label {
    padding-left: 0.5rem;
}

/* transfer method */
#payment .adress-payment .box .qr {
    width: 30%;
    height: 30vh;
    margin: 0 auto;
}

#payment .adress-payment .box .qr img {
    margin-top: 3rem;
    width: 100%;
}

.boxImageqr {
    width: 100%;
    height: 50vh;
}

/* Submit button */
.save {
    padding: 1rem 0;
    text-align: center;
}

.save button {
    cursor: pointer;
    border: none;
    background: #2E86C1;
    border-radius: 10px;
    padding: 0.5rem 3rem;
    color: #fff;
    font-size: 1.3rem;
}

/* Address shipping */
#address form {
    font-size: 1.3rem;
    margin: 5rem 30rem;
    border-radius: 12px;
    border: 1px solid #ccc;
}

#address form .box {
    display: flex;
    padding: 1.25rem 1.3rem;
    width: 100%;
    justify-content: space-between;
}

#address form .box input {
    width: 100%;
    font-size: 1rem;
    padding: 0 1rem;
    border: none;
    border-bottom: 1px solid #ccc;
}

#address form .box input:focus {
    outline: none;
}

/* Responsive */
@media screen and (max-width: 820px) {
    #payment {
        margin-top: 6rem;
        width: 100%;
    }

    .guopBoxPayment {
        width: 90%;
        height: auto;
        padding-bottom: 2rem;
    }

    .boxImageqr {
        height: auto;
    }

    .boxImageqr .qr img {
        width: 100%;
        height: auto;
    }

    #payment .adress-payment .box .transfer {
        margin-top: 2rem;
    }

    #payment .adress-payment .box .qr {
        height: auto;
    }

    #payment .adress-payment .box {
        padding: 0;
    }

    .save {
        padding-top: 2rem;
    }

}

@media screen and (max-width: 420px) {
    #payment .adress-payment .box .qr {
        width: 70%;
    }
  
}

@media screen and (max-width: 376px) {
    #payment {
        margin-bottom: 5rem;
    }
}