.group_lisblecackk {
    width: 60%;
    margin: 6rem auto 4rem auto;
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
}

.box_bill_productS {
    padding-top: 2rem;
    width: 90%;
    margin: auto;
}

.box_guopoidHead {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.box_icon_Check {
    display: flex;
    background-color: blue;
    padding: 10px;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: #FFF;
}

.order_successfulBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.box_icon_Check_iconn {
    font-size: 20px;
}

.bill_product_name,
.order_billGopBox {
    margin: 1rem 0;
    text-align: center;
}

.order_billGopBox,
.box_titlePrice {
    display: flex;
    justify-content: space-between;
}

.detial,
.box_place-on {
    display: grid;
    gap: 15px;

}

.box_title_product,
.box_titlePrice,
.box_place-on {
    margin: 10px;
}

.box_titlePrice {
    padding: 1rem 0;
    font-weight: 600;
    font-size: 19px;
}


/* Responsive Screen */
@media screen and (max-width: 1025px) {
    .group_lisblecackk {
        width: 70%;
        margin: 6rem auto 0 auto;
    }
}

@media screen and (max-width: 820px) {
    .group_lisblecackk {
        width: 80%;
    }
}

@media only screen and (max-width: 431px) {
    .group_lisblecackk {
        width: 95%;
        padding: 20px 0;
    }

    .box_bill_product {
        padding: 0;
    }

    .box_guopoidHead {
        justify-content: start;
        gap: 5rem;
    }

    .spenboxspad {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .group_lisblecackk {
        width: 100%;
    }

}