#addAmin {
    position: absolute;
    width: 70%;
}
#addAmin form {
    transform: translate(30%, 0%);
    margin-top: 5rem;
    padding: 3rem 5rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
}
#addAmin form .addAdminForm {
    width: 100%;
}
#addAmin form .addAdminForm .add-box {
    padding: 0.3rem 0;
    font-size: 1.3rem;
}
#addAmin form .addAdminForm .add-box input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
}

/* Add min image */
#addAmin form .imageAdmin {
    width: 100%;
    display: grid;
    justify-content: center;
}
#addAmin form .imageAdmin .image {
    border: 1px solid #ccc;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 275px;
    overflow: hidden;
}
#addAmin form .imageAdmin .image label {
    cursor: pointer;
}
#addAmin form .imageAdmin .image img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
#addAmin form .imageAdmin .image #adminImage {
    display: none;
}

/* Submit button */
#addAmin form .imageAdmin .submit {
    display: grid;
    align-items: center;
    justify-content: center;
}
#addAmin form .imageAdmin .submit button {
    width: fit-content;
    height: fit-content;
    padding: 0.4rem 3rem;
    border-radius: 4px;
    color: #fff;
    background-color: #3498DB;
    margin-bottom: 1rem;
    cursor: pointer;
    border: none;
}